<h1>Showing selected entries</h1>
<p>
Title: <%= @article.title %>
</p>
<p>
description: <%= @article.description %>
</p>
 <td> <%= link_to 'Back', articles_path %></td>
 <td> <%= link_to 'Edit', edit_article_path(@article)%>